section.brain
{
    background-color: #e7576f;

    > .container
    {
        background-image: url("./svg/brain.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    h1
    {
        color: #ffffff;
    }
}
