@mixin font-scale($rem)
{
    font-size: $rem;
    line-height: $rem * 1.48;
    margin: 0;

    & + svg
    {
        margin-top: $rem * 0.754;
    }
}


section
{
    padding-top: 5em;
    padding-bottom: 5em;

    > .container
    {
        @include media-breakpoint-up(md)
        {
            max-width: 48em;
        }
    }

    h1
    {
        display: block;
        font-weight: 300;
        text-align: center;

        @include media-breakpoint-up(md)
        {
            @include font-scale(4rem);
        }

        @include media-breakpoint-up(xs)
        {
            @include font-scale(2.5rem);
        }
    }

    p
    {
        font-weight: 300;

        @include font-scale(1.5rem);
    }

    a
    {
        color: inherit;
        text-decoration: underline;

        &:hover
        {
            color: inherit;
            text-decoration: none;
        }

        &:visited
        {
            text-decoration: underline;
        }
    }

    svg
    {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}
